build

# From https://github.com/nlohmann/json/blob/develop/single_include/nlohmann/json.hpp
json.hpp

*.ivf
*.ivf.meta.json

# aws sdk
aws-sdk-cpp
aws-sdk-cpp-home

# Python using the released faiss-cpu to generate the ivf file
.venv

*.tsv
*.pt
*.idx

# TCP servers
test_tcp_server
s3_cache_server
server.log
s3_cache_server.log